matrix:
  include:
    - language: python
      python:
        - "3.8"
      install:
        - pip install -U pip
        - pip install -U pytest
        - pip install codecov
      script:
        - coverage run -m unittest tests/python/test_fibonacci.py
        - coverage run -m unittest tests/python/test_two_sum.py
      after_success:
        - codecov

    - language: node_js
      node_js:
        - "10.19.0"
      before_script:
        - npm install chai
      script:
        - npm tests/javascript/test